<html>

<head>
    <meta charset="UTF-8">
    <title>Chessboard using Pure CSS and HTML</title>
    <link rel='stylesheet' href='queen.css' />


</head>

<body>

    <div class="chessboard">
        <!-- 1st -->
        <div class="white" id="11"></div>
        <div class="black" id="21"></div>
        <div class="white" id="31"></div>
        <div class="black" id="41"></div>
        <div class="white" id="51"></div>
        <div class="black" id="61"></div>
        <div class="white" id="71"></div>
        <div class="black" id="81"></div>
        <!-- 2nd -->
        <div class="black" id="12"></div>
        <div class="white" id="22"></div>
        <div class="black" id="32"></div>
        <div class="white" id="42"></div>
        <div class="black" id="52"></div>
        <div class="white" id="62"></div>
        <div class="black" id="72"></div>
        <div class="white" id="82"></div>
        <!-- 3th -->
        <div class="white" id="13"></div>
        <div class="black" id="23"></div>
        <div class="white" id="33"></div>
        <div class="black" id="43"></div>
        <div class="white" id="53"></div>
        <div class="black" id="63"></div>
        <div class="white" id="73"></div>
        <div class="black" id="83"></div>
        <!-- 4st -->
        <div class="black" id="14"></div>
        <div class="white" id="24"></div>
        <div class="black" id="34"></div>
        <div class="white" id="44"></div>
        <div class="black" id="54"></div>
        <div class="white" id="64"></div>
        <div class="black" id="74"></div>
        <div class="white" id="84"></div>
        <!-- 5th -->
        <div class="white" id="15"></div>
        <div class="black" id="25"></div>
        <div class="white" id="35"></div>
        <div class="black" id="45"></div>
        <div class="white" id="55"></div>
        <div class="black" id="65"></div>
        <div class="white" id="75"></div>
        <div class="black" id="85"></div>
        <!-- 6th -->
        <div class="black" id="16"></div>
        <div class="white" id="26"></div>
        <div class="black" id="36"></div>
        <div class="white" id="46"></div>
        <div class="black" id="56"></div>
        <div class="white" id="66"></div>
        <div class="black" id="76"></div>
        <div class="white" id="86"></div>
        <!-- 7th -->
        <div class="white" id="17"></div>
        <div class="black" id="27"></div>
        <div class="white" id="37"></div>
        <div class="black" id="47"></div>
        <div class="white" id="57"></div>
        <div class="black" id="67"></div>
        <div class="white" id="77"></div>
        <div class="black" id="87"></div>
        <!-- 8th -->
        <div class="black" id="18"></div>
        <div class="white" id="28"></div>
        <div class="black" id="38"></div>
        <div class="white" id="48"></div>
        <div class="black" id="58"></div>
        <div class="white" id="68"></div>
        <div class="black" id="78"></div>
        <div class="white" id="88"></div>
     </div>

    <div>
        <button>MoveUp</button>
        <button>MoveDown</button>
        <button>MoveRight</button>
        <button>MoveLeft</button>
   </div>

   <script src='queenMovement.js' type='text/javascript'> </script>
</body>

</html>